@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    transition: color 0.6s linear, background-color 0.6s linear, opacity 0.6s linear;
}

@theme {
    --color-background: var(--background);
    --color-border: var(--border);
    --color-title: var(--text);
    --color-button: var(--button);
}

:root {
    --background: #fff;
    --border: #000;
    --text: var(--color-gray-900);
    --button: #fff;
}

.dark {
    --background: #030712;
    --border: #fff;
    --text: #fff;
    --button: var(--color-blue-700);
}